.aglomered-parameters .aglomered-parameters-ui{
    /*position:absolute;
    bottom:1vh;*/
    left:0;
    /*right:400px;*/
    /*width: 24vw;*/
    height: 30vh;/*17vh;*/
    min-width:120px;
    min-height:120px;
    background-color: white;
    color: black;
    /*padding: 10px;*/
}

.bottom-panel-toggled .aglomered-parameters .aglomered-parameters-ui{
    height:63vh;
}

#dg-aglomered-parameters.datagrid .col.col-1{
    min-width: 80px;
    width:15%;
}
#dg-aglomered-parameters.datagrid .col.col-2{
    min-width: 55px;/*30px;*/
    width:15%;
}
#dg-aglomered-parameters.datagrid .col.col-3{
    min-width: 55px;/*30px;*/
    width:15%;
}
#dg-aglomered-parameters.datagrid .col.col-4{
    min-width: 120px;/*60px;*/
    width:15%;
}
.bottom-tabs-toggled #dg-aglomered-parameters.datagrid .col.col-4{
    min-width: 60px;
}
#dg-aglomered-parameters.datagrid .col.col-5{
    min-width: 30px;/*70px;*/
    width:12%;
}
#dg-aglomered-parameters.datagrid .col.col-6{
    min-width: 50px;
    width:15%;
}
#dg-aglomered-parameters.datagrid .col.col-7{
    min-width: 90px;/*50px;*/
}
.bottom-tabs-toggled #dg-aglomered-parameters.datagrid .col.col-7{
    min-width: 50px;
}

.bottom-tabs-toggled .aglomered-parameters * table * .ATable-label,
.bottom-tabs-toggled #dg-aglomered-parameters.datagrid * .ATable-label{
    display:none;
}

@media only screen and (max-width: 1300px),
only screen and (max-height: 900px) {
    .bottom-panel-toggled .aglomered-parameters .aglomered-parameters-ui{
        height:53vh;
    }
}
